{% extends 'base.html' %}

{% block content %}
<section class="section">

  <div class="box form-box has-text-centered">
    <h2 class="subtitle">로그인</h2>

    {% if form.errors %}
    <div class="notification is-danger">
      <button class="delete"></button>
      존재하지 않는 ID 이거나, 비밀번호가 다릅니다.
    </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <!-- ID -->
      <div class="field has-text-left">
        <label class="label">ID</label>
        <div class="control">
          <input class="input" type="text" name="username" required autofocus>
        </div>
      </div>

      <!-- Password -->
      <div class="field has-text-left">
        <label class="label">비밀번호</label>
        <div class="control">
          <input class="input" type="password" name="password" required>
        </div>
      </div>

      <!-- Login button -->
      <button type="submit" class="button is-primary is-outlined">로그인</button>
    </form>
  </div>
</section>

<section class="section has-text-centered">
  <span class="icon">
    <i class="helpicon fas fa-heart has-text-primary"></i>
  </span>
  <p class="padding10box">고객 관리 수첩 이용이 처음이신가요?</p>
  <a href="{% url 'signup' %}" class="button is-primary is-medium">회원 가입</a>
</section>
{% endblock %}
