html, body, main {
  /* height: 100%; */
  min-height: 100%;
  /* background-color: #f7f7f7; */
}

.mainbox {
  display: flex;
  /* height: 100%; */
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.containerbox {
  width: 580px;
  max-width: 580px;
  background-color: white;
  padding: 15px;
  /* height: 100%; */
  min-height: 100%;
}

.vborder {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.customer-list-item {
  border-bottom: 1px solid #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}

.customer-list-header {
  font-size: 12px;
}

.customer-list-item b {
  font-size: 14px;
}

.customer-list-item small {
  font-size: 10px;
}

.form-box {
  width: 280px;
}



.padding10box {
  padding: 10px;
}

.helpbox {
  margin-top: 60px;
  margin-bottom: 60px;
}

.helpicon {
  margin-bottom: 20px;
}

.modal-card {
  padding: 15px;
  max-width: 480px;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.1);
}



.info-table th {
  width: 70px;
  font-size: 14px;
  border: 0;
}

.info-table th.purchase {
  width: 90px;
}

.info-table td {
  font-size: 13px;
  border: 0;
}

.contact-type-dropdown {
  width: 50px;
}

.contact-table th {
  width: 30px;
}

.contact-table td {
  font-size: 14px;
}

.contact-box {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.small-progress {
  width: 140px;
  display:inline-flex;
  height: 6px;
  vertical-align: middle;
}

.purchase-progress {
  height: 10px;
}


/* https://stackoverflow.com/questions/50400219/bulma-progress-text-in-middle */
.progress-wrapper {
  position: relative;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
  font-weight: bold;
}

.progress.is-small+.progress-value {
  font-size: calc(0.75rem / 1.5);
  line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
  font-size: calc(1.25rem / 1.5);
  line-height: 1.25rem;
}

.progress.is-large+.progress-value {
  font-size: calc(1.5rem / 1.5);
  line-height: 1.5rem;
}

.confirm-modal {
  width: 300px;
  font-size: 14px;
}

.brbox {
  height: 30px;
}

li.is-active span {
  color: black;
  font-weight: bold;
}

.full-table {
  width: 100%
}

.full-table td {
  display: table-cell;
  width: 100%
}

.info-box {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.info-box .info-title {
  font-size: 14px;
  margin: 6px 0 6px;
}

.info-box .info-small {
  font-size: 11px;
}

.info-box .info-content {
  font-size: 12px;
  margin-top: 6px;
}

.purchase-progress-container {
  margin-top: 6px;
}

.subsection {
  margin: 30px 10px;
}


.fixed-bottom-right-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.mt10 {
  margin-top: 10px;
}
