html, body, main {
  /* height: 100%; */
  min-height: 100%;
  background-color: #f7f7f7;
}

.mainbox {
  display: flex;
  /* height: 100%; */
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.containerbox {
  width: 580px;
  max-width: 580px;
  background-color: white;
  padding: 15px;
  /* height: 100%; */
  min-height: 100%;
}

.vborder {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.customer-list-item {
  border-bottom: 1px solid #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}

.customer-list-header {
  font-size: 12px;
}

.customer-list-item b {
  font-size: 14px;
}

.customer-list-item small {
  font-size: 10px;
}

.form-box {
  width: 500px;
  max-width: 500px;
}



.padding10box {
  padding: 10px;
}

.helpbox {
  margin-top: 60px;
  margin-bottom: 60px;
}

.helpicon {
  margin-bottom: 20px;
}

.modal-card {
  padding: 15px;
  max-width: 480px;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.1);
}

.info-table th {
  width: 70px;
  font-size: 14px;
}

.info-table td {
  font-size: 13px;
}

.contact-type-dropdown {
  width: 50px;
}

.contact-table th {
  width: 30px;
}

.contact-table td {
  font-size: 14px;
}

.contact-box {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.small-progress {
  width: 120px;
  display:inline-flex;
}
