{% include '../../common/partial/header.html' %}

<div class="padding10box">
  <form class="js-form" action="{% url 'customers:contacts_ajax' customer.pk %}" method="get">
    <div class="field">
      <div class="control has-icons-left">
        <input type="search" class="input is-rounded is-small" name="search" placeholder="구매 기록 검색" value="{{ search|default:'' }}">
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </form>
</div>

<!-- Add Customer -->
<div class="padding10box">
  <div class="container">
    <div class="js-partial-btn" data-url="{% url 'customers:contacts_create_ajax' customer.pk %}" data-target="#js-form-container">
      <a class="has-text-weight-bold has-text-primary">+ 연락 기록 추가</a>
    </div>
    <p><small class="has-text-grey is-size-7">총 {{ contacts_count|default:0 }} 건</small></p>
  </div>

  <!-- help message -->
  <div id="help-container">
    {% if contacts_count == 0 %}
    <div class="helpbox has-text-centered">
      <i class="helpicon far fa-smile-wink fa-3x has-text-grey-lighter"></i>
      <p class="has-text-grey-light is-size-7">고객과의 대화 내용을 잊지 않도록</p>
      <p class="has-text-grey-light is-size-7">연락 내역을 기록해두세요.</p>
      <p class="has-text-grey-light is-size-7">고객과 언제 마지막으로 연락했나요?</p>
    </div>
    {% endif %}

    {% if search and contacts.count == 0 %}
    <div class="helpbox has-text-centered">
      <p class="has-text-grey is-size-6">검색 결과가 없습니다.</p>
    </div>
    {% endif %}
  </div>
</div>

<!-- form -->
<div id="js-form-container"></div>

<div class="padding10box">
  <div>
    {% for contact in contacts %}
    <div class="info-box">
      <div class="js-partial-btn" data-url="{% url 'customers:contacts_update_ajax' contact.customer.pk contact.pk %}" data-target="#js-form-container">

        <p class="info-title">
          <i class="fas fa-phone"></i>
          <b>{{ contact.contacted_at }}</b>
          <span class="icon is-pulled-right has-text-grey-light">
            <i class="fas fa-edit"></i>
          </span>
        </p>
        <p class="info-content">{{ contact.memo }}</p>
      </div>
    </div>
    {% endfor %}
    <br>
  </div>
</div>
