<!-- Customer Create Modal -->
<div id="customer-create-modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">고객 추가</p>
      <!--<button class="delete" aria-label="close" @click="isAddModalActive = false"></button>-->
    </header>

    <!-- Form -->
    <form action="">
      {% csrf_token %}
      <section class="modal-card-body">
        <table class="table is-fullwidth is-hoverable is-borderless">
          <tbody>
            <!-- Name -->
            <tr>
              <th class="is-narrow">
                <label class="label is-small">이름*</label>
              </th>
              <td>
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="text" name="name" required placeholder="" v-model="customer.name">
                  </div>
                </div>
              </td>
            </tr>

            <!-- Phone -->
            <tr>
              <th class="is-narrow">
                <label class="label is-small">전화번호</label>
              </th>
              <td>
                <div class="field">
                  <div class="control">
                    <input class="input is-small" type="text" name="phone" placeholder="" v-model="customer.phone">
                  </div>
                </div>
              </td>
            </tr>

            <!-- Text Area -->
            <tr>
              <th class="is-narrow">
                <label class="label is-small">메모</label>
              </th>
              <td>
                <div class="field">
                  <div class="control">
                    <textarea class="textarea is-small" name="memo" cols="30" rows="3" v-model="customer.memo"></textarea>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>


      <footer class="modal-card-foot">
        <!-- Submit button -->
        <button class="button is-success" type="submit">저장</button>
        <!-- Cancle button -->
        <button class="button" @click="isAddModalActive = false">취소</button>
      </footer>
    </form>
  </div>
</div>


{% block script %}
<script>
  new Vue({
    el: '#customer-create-modal',
    delimiters: ['[[', ']]'],
    data: {
      isActive: true,
    },
    methods: {
      showForm() {
        var self = this;
        axios.get('{% url "customers:create" %}')
        .then(function(response){
          console.log(response.data.html);
          self.modalHtml = response.data.html;
        });
      }
    }
  });
</script>
{% endblock %}