<!-- Contact buttons -->
<div class="has-text-centered">
  <button class="button is-white is-large">
    <span class="icon">
      <i class="fas fa-phone has-text-primary"></i>
    </span>
  </button>
  <button class="button is-white is-large">
    <span class="icon">
      <i class="fas fa-sms has-text-primary"></i>
    </span>
  </button>
  <button class="button is-white is-large">
    <span class="icon">
      <i class="fas fa-comments has-text-primary"></i>
    </span>
  </button>
</div>

<!-- info -->
<table class="table is-fullwidth info-table">
  <tr>
    <th>전화</th>
    <td class="info-row">
      <div class="info-view">
        <span class="info-value is-pulled-left">{{ customer.phone|default:'' }}</span>
        <span class="icon is-pulled-right">
          <i class="fas fa-edit has-text-grey-light"></i>
        </span>
      </div>
      <div class="info-input is-hidden">
        <form class="detail-form" data-pk="{{ customer.pk }}">
          {% csrf_token %}
          <div class="field">
            <input type="text" name="phone" class="input is-small" value="{{ customer.phone|default:'' }}" autofocus>
          </div>
          <button class="button is-small is-primary is-pulled-right">저장</button>
          <button class="detail-form-cancel button is-small is-white is-pulled-right">취소</button>
        </form>
      </div>
    </td>
  </tr>
  <tr>
    <th>카카오톡</th>
    <td class="info-row">
      <div class="info-view">
        <span class="info-value is-pulled-left">{{ customer.kakao|default:'' }}</span>
        <span class="icon is-pulled-right">
          <i class="fas fa-edit has-text-grey-light"></i>
        </span>
      </div>
      <div class="info-input is-hidden">
        <form class="detail-form" data-pk="{{ customer.pk }}">
          {% csrf_token %}
          <div class="field">
            <input type="text" name="kakao" class="input is-small" value="{{ customer.kakao|default:'' }}" autofocus>
          </div>
          <button class="button is-small is-primary is-pulled-right">저장</button>
          <button class="detail-form-cancel button is-small is-white is-pulled-right">취소</button>
        </form>
      </div>
    </td>
  </tr>
  <tr>
    <th>주소</th>
    <td class="info-row">
      <div class="info-view">
        <span class="info-value is-pulled-left">{{ customer.address1|default:'' }} {{ customer.address2|default:'' }}</span>
        <span class="icon is-pulled-right">
          <i class="fas fa-edit has-text-grey-light"></i>
        </span>
      </div>
      <div class="info-input is-hidden">
        <form class="detail-form" data-pk="{{ customer.pk }}" data-name="address">
          {% csrf_token %}
          <div class="field">
            <input type="text" name="address1" class="input is-small" value="{{ customer.address1|default:'' }}" autofocus placeholder="예: 경기도 성남시 분당구 판교동">
            <input type="text" name="address2" class="input is-small" value="{{ customer.address2|default:'' }}" placeholder="예: 장미아파트 123동 456호">
          </div>
          <button class="button is-small is-primary is-pulled-right">저장</button>
          <button class="detail-form-cancel button is-small is-white is-pulled-right">취소</button>
        </form>
      </div>
  </tr>
  <tr>
    <th>생일</th>
    <td class="info-row">
      <div class="info-view">
        <span class="info-value is-pulled-left">{{ customer.birthday|default:'' }}</span>
        <span class="icon is-pulled-right">
          <i class="fas fa-edit has-text-grey-light"></i>
        </span>
      </div>
      <div class="info-input is-hidden">
        <form class="detail-form" data-pk="{{ customer.pk }}">
          {% csrf_token %}
          <div class="field">
            <input type="date" name="birthday" class="input is-small" value="{{ customer.birthday|default:'' }}" autofocus>
          </div>
          <button class="button is-small is-primary is-pulled-right">저장</button>
          <button class="detail-form-cancel button is-small is-white is-pulled-right">취소</button>
        </form>
      </div>
    </td>
  </tr>
  <tr>
    <th>메모</th>
    <td class="info-row">
      <div class="info-view">
        <span class="info-value is-pulled-left">{{ customer.memo|default:'' }}</span>
        <span class="icon is-pulled-right">
          <i class="fas fa-edit has-text-grey-light"></i>
        </span>
      </div>
      <div class="info-input is-hidden">
        <form class="detail-form" data-pk="{{ customer.pk }}">
          {% csrf_token %}
          <div class="field">
            <textarea class="input textarea is-small" name="memo" rows="6" cols="80" autofocus>{{ customer.memo }}</textarea>
          </div>
          <button class="button is-small is-primary is-pulled-right">저장</button>
          <button class="detail-form-cancel button is-small is-white is-pulled-right">취소</button>
        </form>
      </div>
    </td>
  </tr>
</table>

<a href="#" class="is-pulled-right is-size-6">고객 삭제</a>
