<!-- tabs -->
<div class="tabs is-centered is-boxed">
  <ul>
    <li {% if tab_active == 'info' %}class="is-active"{% endif %}>
      <a class="detail-tab" data-url="{% url 'customers:detail_ajax' customer.pk %}">
        <span><small>정보</small></span>
      </a>
    </li>
    <li {% if tab_active == 'contacts' %}class="is-active"{% endif %}>
      <a class="detail-tab" data-url="{% url 'customers:detail_contacts_ajax' customer.pk %}">
        <span><small>연락 기록</small></span>
      </a>
    </li>
    <li {% if tab_active == 'purchases' %}class="is-active"{% endif %}>
      <a class="detail-tab" data-url="{% url 'customers:detail_purchases_ajax' customer.pk %}">
        <span><small>구매 기록</small></span>
      </a>
    </li>

  </ul>
</div>
<!-- end of tabs -->
