<div class="modal is-active">
  <div class="js-hide-btn modal-background" data-target=".modal"></div>
  <div class="modal-content confirm-modal">
    <div class="box form-container">
      <div class="subtitle">
        {{ title }}
      </div>
      <form class="js-form" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <table class="table info-table is-fullwidth">
          <tr>
            <th class="purchase">제품명</th>
            <td>
              <div class="field">
                <input type="text" class="input is-small is-fullwidth" name="name" value="{{ form.name.value|default:'' }}">
              </div>
            </td>
          </tr>
          <tr>
            <th>수량</th>
            <td>
              <div class="field">
                <input type="number" class="input is-small is-fullwidth" name="count" value="{{ form.count.value }}">
              </div>
            </td>
          </tr>
          <tr>
            <th>단가</th>
            <td>
              <div class="field">
                <input type="number" class="input is-small is-fullwidth" name="unit_price" value="{{ form.unit_price.value }}">
              </div>
            </td>
          </tr>
          <tr>
            <th>구매일자</th>
            <td>
              <div class="field">
                <input type="date" class="input is-small is-fullwidth" name="purchase_date" value="{{ form.purchase_date.value|date:'Y-m-d' }}">
              </div>
            </td>
          </tr>
          <tr id="next-purchase-add-container" class="{% if form.next_purchase_date.value != None %}is-hidden{% endif %}">
            <th></th>
            <td>
              <div class="field has-text-right">
                <a id="next-purchase-add">+ 재구매 일정 등록</a>
              </div>
            </td>
          </tr>
          <tr class="next-purchase-container {% if form.next_purchase_date.value == None %}is-hidden{% endif %}">
            <th>재구매 일정</th>
            <td>
              <div class="field">
                <input type="date" id="js-next-purcase-input"class="input is-small is-fullwidth" name="next_purchase_date" value="{{ form.next_purchase_date.value|date:'Y-m-d' }}">
              </div>
            </td>
          </tr>
          <tr id="is-repurchased-container" class="field {% if form.next_purchase_date.value == None %}is-hidden{% endif %}">
            <th></th>
            <td>
              <div class="field">
                <label class="checkbox">
                  <input id="is-repurchased-checkbox" type="checkbox" class="" name="is_repurchased" {% if form.is_repurchased.value == True %}checked{% endif %}>
                  재구매 완료
                </label>
              </div>
            </td>
          </tr>
          <tr id="next-purchase-del-container" class="{% if form.next_purchase_date.value == None %}is-hidden{% endif %}">
            <th></th>
            <td>
              <div class="field has-text-right">
                <a id="next-purchase-del" class="has-text-danger">+ 재구매 일정 삭제</a>
              </div>
            </td>
          </tr>
        </table>
        <div>
          <button class="button is-primary is-small2">저장</button>
          <span class="js-hide-btn" data-target=".modal">
            <span class="js-show-btn" data-target="#help-container">
              <span class="button  is-small2 has-text-grey">취소</span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function(){
  $('#next-purchase-del').click(function(){
    $('#js-next-purcase-input').val(null);
    $('.next-purchase-container').addClass('is-hidden');
    $('#next-purchase-del-container').addClass('is-hidden');
    $('#next-purchase-add-container').removeClass('is-hidden');
    $('#is-repurchased-container').addClass('is-hidden');
    $('#is-repurchased-checkbox').checked = false;
  });

  $('#next-purchase-add').click(function(){
    $('.next-purchase-container').removeClass('is-hidden');
    $('#next-purchase-del-container').removeClass('is-hidden');
    $('#next-purchase-add-container').addClass('is-hidden');
    $('#is-repurchased-container').removeClass('is-hidden');
  });


  $('.js-next-purchase-checkbox').change(function(){
    var checked = $(this).is(':checked');
    if (checked == false) {
      $('#js-next-purcase-input').val(null);
    }
  });
});
</script>
