{% include '../../common/partial/header.html' %}
{% load humanize %}

<div class="padding10box">
  <form class="js-form" action="{% url 'customers:purchases_ajax' customer.pk %}" method="get">
    <div class="field">
      <div class="control has-icons-left">
        <input type="search" class="input is-rounded is-small" name="search" placeholder="제품명 검색" value="{{ search|default:'' }}">
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </form>
</div>

<!-- Add Purchase -->
<div class="padding10box">
  <div class="container">
    <div class="js-partial-btn" data-url="{% url 'customers:purchases_create_ajax' customer.pk %}" data-target="#js-form-container">
      <div class="js-hide-btn" data-target="#help-container">
        <a class="has-text-weight-bold has-text-primary">+ 구매 기록 추가</a>
      </div>

    </div>
    <p><small class="has-text-grey is-size-7 is-pulled-left">이번 달 {{ month_revenue|default:0|intcomma }}원</small></p>
    <p><small class="has-text-grey is-size-7 is-pulled-right">총 {{ customer.get_total_revenue|intcomma }}원</small></p>
  </div>

  <!-- help message -->
  <div id="help-container">
    {% if purchases_count == 0 %}
    <div class="helpbox has-text-centered">
      <i class="helpicon far fa-smile-wink fa-3x has-text-grey-lighter"></i>
      <p class="has-text-grey-light is-size-7">고객의 구매 이력을 기록하여</p>
      <p class="has-text-grey-light is-size-7">구매 패턴을 파악하고</p>
      <p class="has-text-grey-light is-size-7">다음 구매 일정을 등록하세요.</p>
    </div>
    {% endif %}

    {% if search and purchases.count == 0 %}
    <div class="helpbox has-text-centered">
      <p class="has-text-grey is-size-6">검색 결과가 없습니다.</p>
    </div>
    {% endif %}
  </div>
</div>

<div class="brbox"></div>

<!-- form -->
<div id="js-form-container"></div>

<!-- purchase list -->
<div class="padding10box">
  <div>
    {% for purchase in purchases %}
    <div class="info-box">
      <div class="js-partial-btn" data-url="{% url 'customers:purchases_update_ajax' purchase.customer.pk purchase.pk %}" data-target="#js-form-container">
        <div class="js-info-container">
          <div class="info-title">
            <span><b>{{ purchase.name }}{% if purchase.count > 1 %} ({{ purchase.count }}){% endif %}</b></span>
            <span class="icon is-pulled-right has-text-grey-light">
              <i class="fas fa-edit"></i>
            </span>
          </div>

          <p class="info-small">총 {{ purchase.get_total_price|intcomma }}원</p>
          <div class="info-content">
            <p><b>구매일자</b> {{ purchase.purchase_date }}</p>

            {% if purchase.next_purchase_date is not None and purchase.is_repurchased is True %}
            <span class="has-text-success">
              <span><b>재구매 완료</b></span>
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
            </span>
            {% endif %}

            {% if purchase.next_purchase_date is not None and purchase.is_repurchased is False %}
            <p><b>재구매 일정</b> {{ purchase.next_purchase_date }}</p>

            <div class="purchase-progress-container">
              <div class="progress-wrapper">
                <progress class="progress is-small
                {% if purchase.get_next_purchase_progress_value > 7 %}
                  is-success
                {% elif purchase.get_next_purchase_progress_value > 3 %}
                  is-warning
                {% else %}
                  is-danger
                {% endif %}
                " value="{{ purchase.get_next_purchase_progress_value }}" max="{{ purchase.get_next_purchase_progress_max }}"></progress>

                {% if purchase.get_next_purchase_progress_value > 0 %}
                  <p class="progress-value has-text-white">{{ purchase.get_next_purchase_progress_value }}일 후 재구매</p>
                {% elif purchase.get_next_purchase_progress_value == 0 %}
                  <p class="progress-value has-text-white">오늘 재구매</p>
                {% else %}
                  <p class="progress-value has-text-white">재구매 일정이 지났습니다</p>
                {% endif %}
              </div>
            </div>


            {% endif %}

          </div>
        </div>
      </div>

      {% if purchase.next_purchase_date is not None and purchase.is_repurchased is False %}
      <form class="js-form" action="{% url 'customers:purchases_update_ajax' customer.pk purchase.pk %}?form_for=is_repurchased" method='post'>
        {% csrf_token %}
        <input type="hidden" name="is_repurchased" value=true>
        <button class="button is-small">재구매 완료</button>
      </form>
      {% endif %}
    </div>

    {% endfor %}
    <br>
  </div>
</div>
