<!DOCTYPE html>
{% load static %}
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Note</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'customers:list' %}">
          <img src="{% static 'img/brand.png' %}" width="230" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <!-- <a class="navbar-item" href="{% url 'customers:list' %}">
            고객관리
          </a>

          <a class="navbar-item">
            제품관리
          </a>

          <a class="navbar-item">
            통계
          </a>

          <a class="navbar-item">
            게시판
          </a> -->

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
              <a class="button is-light" href="{% url 'logout' %}">
                <strong>로그아웃({{ user.username }})</strong>
              </a>
              {% else %}
              <a class="button is-primary" href="{% url 'signup' %}">
                <strong>회원 가입</strong>
              </a>
              <a class="button is-light" href="{% url 'login' %}">
                로그인
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>


    <main class="container">
      <div class="mainbox">
        <div id="page-container" class="containerbox vborder">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
