{% include '../../common/partial/header.html' %}

<!-- Contact buttons -->
<div class="has-text-centered">
  <button class="button is-white is-large">
    <span class="icon">
      <i class="fas fa-phone has-text-primary"></i>
    </span>
  </button>
  <button class="button is-white is-large">
    <span class="icon">
      <i class="fas fa-sms has-text-primary"></i>
    </span>
  </button>
  <button class="button is-white is-large">
    <span class="icon">
      <i class="fas fa-comments has-text-primary"></i>
    </span>
  </button>
</div>

<!-- info -->
<table class="table is-fullwidth info-table">
  {% include './info_row.html' with label='전화' name='phone' value=customer.phone|default:'' %}
  {% include './info_row.html' with label='카카오톡' name='kakao' value=customer.kakao|default:'' %}
  {% include './info_row.html' with label='주소' name='address' value=customer.get_address|default:'' %}
  {% include './info_row.html' with label='생일' name='birthday' value=customer.birthday|default:'' %}
  {% include './info_row.html' with label='메모' name='memo' value=customer.memo|default:'' %}
</table>

<a href="#" class="is-pulled-right is-size-6">고객 삭제</a>
