{% include '../../common/partial/header.html' %}

<!-- Contact buttons -->
<div class="has-text-centered">
  <a class="button is-white is-large" {% if customer.phone != None %}href="tel:{{ customer.phone }}"{% endif %}>
    <span class="icon">
      <i class="fas fa-phone {% if customer.phone != None %}has-text-primary{% else %}has-text-grey-lighter{% endif %}"></i>
    </span>
  </a>
  <a class="button is-white is-large" {% if customer.phone != None %}href="sms:{{ customer.phone }}"{% endif %}>
    <span class="icon">
      <i class="fas fa-sms {% if customer.phone != None %}has-text-primary{% else %}has-text-grey-lighter{% endif %}"></i>
    </span>
  </a>
</div>

<!-- info -->
<section class="section">
  <table class="table is-fullwidth info-table is-hoverable">
    {% include './info_row.html' with label='전화' name='phone' value=customer.phone|default:'' %}
    {% include './info_row.html' with label='주소' name='address' value=customer.get_address|default:'' %}
    {% include './info_row.html' with label='생일' name='birthday' value=customer.birthday|default:'' %}
    {% include './info_row.html' with label='메모' name='memo' value=customer.memo|default:'' %}
  </table>

</section>

<div class="js-partial-btn" data-url="{% url 'customers:delete_ajax' customer.pk %}" data-target="#delete-modal-container">
  <p class="button is-white is-pulled-right has-text-danger is-small">고객 삭제</p>
</div>

<div id="delete-modal-container"></div>
