{% load humanize %}

<form class="js-form" action="{% url 'customers:list_ajax' %}" method="get">
  {% csrf_token %}
  <div class="field">
    <div class="control has-icons-left">
      <input type="search" class="input is-rounded" name="search" placeholder="고객 검색 (이름, 주소, 메모)" value="{{ search|default:'' }}">
      <span class="icon is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</form>



<!-- 고객 추가 폼 로드 위치 -->
<div id="form-container">
</div>


<!-- List header -->
<div class="subsection">
  <span class="subtitle">
    {% if search %}
      검색 결과 : "{{search}}"
    {% else %}
      고객 목록
    {% endif %}
  </span>

  {% if search is None or search == '' %}
  <span class="is-pulled-right">
    <div id="dropdown" class="dropdown is-right">
      <div class="dropdown-trigger">
        <button class="js-active-toggle-btn button is-small" aria-haspopup="true" aria-controls="dropdown-menu6" data-target="#dropdown">
          <span>
            {% if order == 'create'%}
            최근 등록순
            {% elif order == 'contact'%}
            연락 오래된 순
            {% elif order == 'next_purchase'%}
            재구매 일정 순
            {% elif order == 'total_revenue'%}
            총 구매 금액 순
            {% elif order == 'month_revenue'%}
            이번 달 구매 금액 순
            {% else %}
            이름순
            {% endif %}
          </span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu6" role="menu">
        <div class="dropdown-content">
          <a class="js-partial-btn dropdown-item {% if order == 'name' %}is-active{% endif %}" data-url="{% url 'customers:list_ajax' %}?order=name" data-target="#page-container">이름순</a>
          <a class="js-partial-btn dropdown-item {% if order == 'create' %}is-active{% endif %}" data-url="{% url 'customers:list_ajax' %}?order=create" data-target="#page-container">최근 등록순</a>
          <a class="js-partial-btn dropdown-item {% if order == 'next_purchase' %}is-active{% endif %}" data-url="{% url 'customers:list_ajax' %}?order=next_purchase" data-target="#page-container">재구매 일정 순</a>
          <a class="js-partial-btn dropdown-item {% if order == 'contact' %}is-active{% endif %}" data-url="{% url 'customers:list_ajax' %}?order=contact" data-target="#page-container">연락 오래된 순</a>
          <a class="js-partial-btn dropdown-item {% if order == 'total_revenue' %}is-active{% endif %}" data-url="{% url 'customers:list_ajax' %}?order=total_revenue" data-target="#page-container">총 구매 금액 순</a>
          <a class="js-partial-btn dropdown-item {% if order == 'month_revenue' %}is-active{% endif %}" data-url="{% url 'customers:list_ajax' %}?order=month_revenue" data-target="#page-container">이번 달 구매 금액 순</a>
        </div>
      </div>
    </div>
  </span>
  {% endif %}

  <p><small class="has-text-grey">총 {{ customer_count }} 명</small></p>


</div>




<div class="padding10box">

  {% if search %}
    <!-- 검색 결과 지우기 -->
    <a class="button js-partial-btn" data-url="{% url 'customers:list_ajax' %}?search=" data-target="#page-container">
      <span class="icon">
        <i class="fas fa-times"></i>
      </span>
      <span>검색 결과 지우기</span>
    </a>
  {% else %}
    <!-- 고객 추가 버튼 -->
    <div class="fixed-bottom-right-btn2">
      <div class="js-partial-btn" data-url="{% url 'customers:create_ajax' %}" data-target="#form-container">
        <a class="has-text-weight-bold has-text-primary">+ 고객 추가</a>
      </div>
    </div>
  {% endif %}


  <!-- 도움말 -->
  {% if customer_count == 0 and search == None %}
  <div class="helpbox has-text-centered">
    <i class="helpicon far fa-smile-wink fa-3x has-text-grey-lighter"></i>
    <p class="has-text-grey-light is-size-7">안녕하세요. {{ user.username }}님!</p>
    <p class="has-text-grey-light is-size-7">고객을 추가하고, 고객 관리를 시작하세요.</p>
  </div>
  {% endif %}

  {% if customer_count == 0 and search != None %}
  <div class="helpbox has-text-centered">
    <p class="has-text-grey is-size-6">검색 결과가 없습니다.</p>
  </div>
  {% endif %}
</div>


<div class="is-divider" data-content="OR"></div>

<!-- 고객 리스트 -->
<div id="customer-list-container" class="mt10">
  <div class="padding10box">
    <div>
      {% for customer in customers %}
      <div class="js-partial-btn" data-url="{% url 'customers:purchases_ajax' customer.pk %}" data-target="#page-container">
        <div class="customer-list-item">
          <div>
            <span class="icon">
              <i class="fas fa-user-circle fa-lg has-text-primary"></i>
            </span>
            <b>{{ customer.search_name|default:customer.name|safe }}</b>

            {% if order == 'total_revenue'%}
              <small class="has-text-info">(총 {{ customer.get_total_revenue|default:0|intcomma }}원)</small>
            {% elif order == 'month_revenue'%}
              <small class="has-text-info">(이번달 {{ customer.get_month_revenue|default:0|intcomma }}원)</small>
            {% endif %}

            <small class="is-pulled-right">
              {% with customer.get_last_contact_ago as contact_ago %}
                {% if contact_ago > 14 %}
                  <span><i class="fas fa-phone has-text-danger"></i></span>
                  연락 {{ contact_ago }}일 전
                {% elif contact_ago > 7 %}
                  <span><i class="fas fa-phone has-text-warning"></i></span>
                  연락 {{ contact_ago }}일 전
                {% elif contact_ago > 0 %}
                  <span><i class="fas fa-phone has-text-success"></i></span>
                  연락 {{ contact_ago }}일 전
                {% elif contact_ago == 0 %}
                  <span><i class="fas fa-phone has-text-success"></i></span>
                  오늘 연락
                {% elif contact_ago < 0 %}
                  <span><i class="fas fa-phone has-text-grey-lighter"></i></span>
                  연락 기록 없음
                {% endif %}
              {% endwith %}
            </small>
          </div>
          <!-- Purchase info -->
          <table class="full-table">
          {% with customer.get_waiting_next_purchases as purchases %}
            {% for purchase in purchases %}
              {% with purchase.get_next_purchase_progress_value as progress_value %}
              <tr>
                <!-- <th class="has-text-primary">-</th> -->
                <td>
                  <small>
                    <span><i class="fas fa-circle
                    {% if progress_value > 7 %}
                      has-text-success
                    {% elif progress_value > 3 %}
                      has-text-warning
                    {% else %}
                      has-text-danger
                    {% endif %}
                    "></i></span>
                    {{ purchase.name }}
                  </small>
                </td>
                <td>
                  <progress class="small-progress progress
                  {% if progress_value > 7 %}
                    is-success
                  {% elif progress_value > 3 %}
                    is-warning
                  {% else %}
                    is-danger
                  {% endif %}
                  " value="{{ progress_value }}" max="{{ purchase.get_next_purchase_progress_max }}"></progress>
                </td>
              </tr>
              {% endwith %}
            {% endfor %}
          {% endwith %}
          </table>
          <!-- Search result info -->
          <div>
            <small>{{ customer.search_match|safe }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
      <br>
    </div>
  </div>
</div>
